* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

header {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

header>p>img {
    height: 3.5rem;
}

header>h1 {
    text-align: center;
}

main {
    max-width: 800px;
    padding: 3rem;
    margin: auto;
}

section {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: white;
}

section > h1 {
    margin-bottom: 1em;
}

h2 {
    line-height: 4rem;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    margin: 0.25rem;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 3px #ddd;
}

.button {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin: 0.25rem;
    cursor: pointer;
}

.button.disabled {
    background-color: #ccc;
    color: #333;
}

#error-text {
    color: rgb(182, 0, 0);
}

#logged-in { 

    color: green;
    
}

